@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.text-center {

  text-align: center;
}

.button {
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: rgb(20 18 18);
}

.row {
  margin: 8px 0;
}

.row input {
  width: 291px;
  font-size: 20px;
  text-align: center;
  height: 50px;
  margin: 0;
  padding: 10px 0px;
  border: 2px solid black;
  border-radius: 5px;
}

.container {
  /* background-color: pink; */
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  width: 400px;
  border-radius: 40px;
}

.bg-red {
  background-color: rgb(235 12 12);
  color: black;
}

.width {
  width: 300px;
}

.mx-auto {
  margin: auto;
}