 /* .text-center{

    text-align: center;
} */
/*
.background-pink{

    background-color: pink;
}
.mx-auto{
    margin: auto;
} */
/* 
.container{
   
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
} */
/* .m-w-20{
    max-width: 20vw;
} */
/* 
.flex{
display: flex;
}
.flex-col{

    flex-direction: column;
}
.item-center{
    align-items: center;
} */